<div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-4">
  @for(pokemon of pokemons(); track pokemon.id){

  <div class="card-container rounded-lg" (click)="openDialog()">
    <div class="card">
      <mat-card class="card-front">
        <div class="container rounded-xl overflow-hidden">
          <div class="bg-white h-1/2 flex items-center justify-center">
            <p class="text-center font-bold text-2xl text-red-500">{{ pokemon.name }}</p>
          </div>
          <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 64 64"
              class="w-16 h-16"
              aria-hidden="true"
              role="img"
            >
              <title>Pokéball</title>
              <circle cx="32" cy="32" r="30" fill="#FF0000" stroke="black" stroke-width="2" />
              <path d="M2 32a30 30 0 0 0 60 0H2z" fill="#EE2E2E" />
              <path d="M62 32a30 30 0 0 1-60 0h60z" fill="#FFFFFF" />
              <rect x="2" y="28" width="60" height="8" fill="#FF0000" />
              <circle cx="32" cy="32" r="9" fill="#FFFFFF" />
              <circle cx="32" cy="32" r="5" fill="#000" />
              <ellipse cx="24" cy="20" rx="6" ry="2.6" fill="#ffffff" opacity="0.15" />
            </svg>
          </div>
          <div class="bg-red-500 h-1/2 flex items-center justify-center">
            <p class="text-center font-bold text-2xl text-white">{{ pokemon.name }}</p>
          </div>
        </div>
      </mat-card>

      <mat-card class="card-back text-center justify-center">
        <mat-card-content>
          <mat-card-title class="capitalize">{{ pokemon.name }}</mat-card-title>

          <img
            [src]="pokemon.image"
            [alt]="pokemon.name"
            class="w-32 h-32 mx-auto"
            loading="lazy"
          />
          <button matButton="outlined">Ver Detalles</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  }
</div>

<button (click)="loadMore()" class="bg-blue-500 text-white p-2 rounded-md">Load More</button>
